
.content {
  height: 400px;
}

.user-info {
  position: absolute;
  height: 100%;
  left: 0;
  width: 130px;
}

.validation-message-content {
  position: absolute;
  height: 100%;
  right: 0;
  left: 130px;
}
footer {
  position: absolute;
  bottom: 0;
  height: 36px;
  width: 100%;
}
