<app-settings-template>
    <app-settings-item title="登录">
        <mat-checkbox>test</mat-checkbox>
        <mat-form-field>
            <input matInput placeholder="">
        </mat-form-field>
        <mat-checkbox>test</mat-checkbox>
    </app-settings-item>
    <app-settings-item title="主面板">
        <mat-checkbox>test</mat-checkbox>
        <mat-form-field>
            <input matInput placeholder="">
        </mat-form-field>
        <mat-checkbox>test</mat-checkbox>
    </app-settings-item>
    <app-settings-item title="状态">
        <mat-form-field>
            <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="">
        </mat-form-field>
    </app-settings-item>
</app-settings-template>