<app-settings-template>
    <app-settings-item title="登录">
        <p>
            <mat-checkbox>开机时自动启动moon</mat-checkbox>
        </p>
        <p>
            <mat-checkbox>启动moon时为我自动登录</mat-checkbox>
        </p>
        <p>
            <mat-checkbox>总是打开登录提示</mat-checkbox>
        </p>
    </app-settings-item>
    <app-settings-item title="主面板">
        <p>
            <mat-checkbox>始终保持在其它窗口前端</mat-checkbox>
        </p>
        <p>
            <mat-checkbox>停靠在桌面边缘时自动隐藏</mat-checkbox>
        </p>
        <p>
            <mat-checkbox>在任务栏通知区域显示moon图标</mat-checkbox>
        </p>
        <p>关闭主面板时：</p>
        <p>
            <mat-radio-group>
                <mat-radio-button>隐藏到任务栏通知区域，不退出程序</mat-radio-button>
                <mat-radio-button>退出程序</mat-radio-button>
            </mat-radio-group>
        </p>
        <!--界面-->
    </app-settings-item>
    <app-settings-item title="状态">
        <p>
            <span>登录后状态为：</span>
            <mat-form-field>
                <mat-select>
                    <mat-option value="0">我在线上</mat-option>
                    <mat-option value="1">Q我吧</mat-option>
                    <mat-option value="2">离开</mat-option>
                    <mat-option value="3">请勿打我</mat-option>
                    <mat-option value="4">隐身</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-checkbox>离开、忙碌、请勿打扰时自动回复（100字以内）</mat-checkbox>
        </p>
        <p>
            <button mat-stroked-button>自动回复设置</button>
        </p>
    </app-settings-item>
    <app-settings-item title="会话窗口">
        <p>
            <mat-checkbox>允许接收窗口抖动</mat-checkbox>
        </p>
    </app-settings-item>
    <app-settings-item title="提醒">
        <p>好友上线提醒</p>
        <p>
            <mat-form-field>
                <mat-select>
                    <mat-option value="0">关闭好友上线提醒</mat-option>
                    <mat-option value="1">全部好友上线提醒</mat-option>
                    <mat-option value="2">以下好友上线提醒</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </app-settings-item>
    <app-settings-item title="声音声音">
        <p>
            <mat-checkbox>关闭所有声音</mat-checkbox>
        </p>
        <p>
            <button mat-stroked-button>设置提示音</button>
        </p>
    </app-settings-item>
    <app-settings-item title="软件更新">
        <p>你可以选择本台计算机上moon的更新方式</p>
        <p>
            <mat-radio-group>
                <mat-radio-button>有更新时自动为我安装（推荐）</mat-radio-button>
                <span>当moon有更新时，智能选择最佳的软件更新文案，自动完成更新的下载与安装、省心省力。</span>
                <mat-radio-button>有更新时不要安装但提醒我</mat-radio-button>
                <span>此方式不影响安全补丁等重要更新的自动安装。</span>
            </mat-radio-group>
        </p>
    </app-settings-item>
</app-settings-template>
