<div class="search-container">
  div
  <div class="search-title" [hidden]="(friendSearchs$ | async)?.length == 0">
    好友
  </div>
  <app-home-search-friend-row *ngFor="let friend of friendSearchs$ | async"
                              [search]="friend"
  ></app-home-search-friend-row>
  <div class="search-title" [hidden]="(friendSearchs$ | async)?.length == 0">
    群
  </div>
  <!-- <app-chatrow *ngFor="let search of groupSearchs" [search]="search";
        [data]="{imageUrl: search.imageUrl, name: search.name, chatId: search.id, 
        chatType: groupChatType, desc: search.desc, isSearch: true}"></app-chatrow> -->

</div>