<div style="margin-top: 1px;">
  <div style="height: 30px;
  font-size: 20px;
  margin-left: 10px;    line-height: 30px;" [hidden]="isHidden(privateSearchs)">
    好友
  </div>
  <!-- <app-chatrow *ngFor="let search of privateSearchs" 
        [data]="{imageUrl: search.imageUrl, name: search.name, chatId: search.id, 
        chatType: groupChatType, desc: search.desc, isSearch: true}"></app-chatrow> -->
  <div style="height: 30px;
  font-size: 20px;
  margin-left: 10px;    line-height: 30px;" [hidden]="isHidden(groupSearchs)">
    群
  </div>
  <!-- <app-chatrow *ngFor="let search of groupSearchs" [search]="search";
        [data]="{imageUrl: search.imageUrl, name: search.name, chatId: search.id, 
        chatType: groupChatType, desc: search.desc, isSearch: true}"></app-chatrow> -->

</div>