<ngx-electron-window [showCloseBtn]="true"
                     [showMiniBtn]="true"
                     [background]="(userConfig$ | async).background">
    <header>
        <span style="color: white">
            <span *ngIf="!groupId">创建群</span>
            <span *ngIf="groupId">邀请好友加群</span>
        </span>
    </header>
    <div class="content">
        <div class="stepper">
            <span class="badge"
                  [class.non-activated-badge]="!activated('categories')"
                  matBadge="1"
                  matBadgeColor="warn"></span>
            <span>选择类别</span>

            <span class="badge"
                  matBadge="2"
                  matBadgeColor="warn"
                  [class.non-activated-badge]="!activated('form/:createGroupType')"></span>
            <span>填写信息</span>

            <span class="badge"
                  [class.non-activated-badge]="!activated('invite/:groupId')"
                  matBadge="3"
                  matBadgeColor="warn"></span>
            <span>邀请成员</span>
        </div>
        <div class="form-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</ngx-electron-window>