<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
            [colspan]="2"
            [rowspan]="1.5">
        <span class="grid-item" routerLink="/create-group/form/0">
            同学同事
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="2"
            [rowspan]="1.5">
        <span class="grid-item" routerLink="/create-group/form/1">
            家校师生
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/2">
            兴趣爱好
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/3">
            行业交流
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/4">
            生活休闲
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/5">
            学习考试
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/6">
              游戏
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/7">
            置业安家
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/8">
            品牌产品
        </span>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
        <span class="grid-item" routerLink="/create-group/form/9">
              粉丝
        </span>
    </mat-grid-tile>
</mat-grid-list>