.item-container {
  margin: 10px 25px;
}

.time-container {
  color: #79767d;
  font-size: 12px;
  margin-bottom: 5px;
}
.non-operation {
  background: #e8f2f7;
  border: 1px #c3dce6 solid;
  box-shadow: none !important;
}

mat-card {
  padding: 10px;
  height: 80px;
  box-sizing: border-box;
  position: relative;

  .img-container {
    position: absolute;
    box-sizing: border-box;
    img {
      height: 58px;
      width: 58px;
      border-radius: 29px;
    }
  }
  .detail-container {
    position: absolute;
    left: 78px;
    right: 100px;
    box-sizing: border-box;
    div {
      height: 20px;
      line-height: 20px;
    }
    .name {
      font-size: 18px;
      font-weight: bold;
    }
    .source {
      color: #767676;
      margin-left: 5px;
    }
    .sex-age-group {
      font-size: 13px;
      span {
        margin-left: 5px;
      }
    }

    .additional-message-group-title {
      color: #676767;
      font-size: 13px;
    }
  }
  .status-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    text-align: center;
    line-height: 76px;
    font-size: 13px;
    color: #767676;
    .ignore {
      margin-right: 10px;
      color: #767676;
      visibility: hidden;

      &:hover {
        color: #7088c7 !important;
      }
    }
  }
  .close {
    position: absolute;
    right: 8px;
    top: 3px;
    color: #767676;
    visibility: hidden;
    span {
      &:hover {
        color: #666c6f !important;
      }
    }
  }
  &:hover .close, &:hover .ignore {
    visibility: visible !important;
  }
}