.grouping-name-content {
  font-size: 16px;
  overflow: hidden;
  height: 30px;
  position: relative;
  width: 100%;
  span {
    float: left;
    height: 20px;
    line-height: 20px;
  }
  mat-icon {
    top: -2px;
    position: relative;
  }
}
.grouping-name {
  padding: 5px 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.top-dragover {
  border-top: 1px solid red;
}
.bottom-dragover {
  border-bottom: 1px solid red;
}

.display-none {
  display: none;
}
.alias-input {
  position: absolute;
  z-index: 1000;
  left: 30px;
  right: 7px;
  input {
    width: 100%;
  }
}

.top, .bottom {
  height: 50%;
  width: 100%;
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
