section {
    flex: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

nav {
    height: 50px;
    min-height: 50px;
    background: #edeeee;
    display: flex;
}
mat-button-toggle-group {
    flex: auto;
}

mat-button-toggle {
    background: #edeeee;
}

.mat-button-toggle-checked {
    background: #edeeee;
    color: #1177b6 !important;
}
.search-key-container {
    flex: auto;
    text-align: right;
    padding-right: 40px;
}
