section {
  flex: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

mat-button-toggle-group {
  height: 50px;
  min-height: 50px;
  background: #edeeee;
}

mat-button-toggle {
  background: #edeeee;
}

.mat-button-toggle-checked {
  background: #edeeee;
  color: #1177b6 !important;
}