
<ngx-electron-window [showCloseBtn]="true"
                     [showMiniBtn]="true"
                     [background]="(userConfig$ | async)?.background">
    <header>
        <span style="color: white">{{'main.appearance-setting.title' | translate}}</span>
    </header>
    <section>
        <mat-button-toggle-group [value]="url">
            <mat-button-toggle value="/appearance-setting/skin-setting"
                               routerLink="/appearance-setting/skin-setting">
                <mat-icon>palette</mat-icon>
                <span>皮肤设置</span>
            </mat-button-toggle>
            <mat-button-toggle value="/appearance-setting/colourful-bubble"
                               routerLink="/appearance-setting/colourful-bubble">
                <mat-icon>chat_bubble</mat-icon>
                <span>多彩气泡</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <router-outlet></router-outlet>
    </section>
</ngx-electron-window>