.friend-row-container {
  height: 44px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  outline: 0;
  img {
    float: left;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-right: 5px;
  }
}

.small-row {
  height: 30px !important;
  .user-name {
    margin-top: 5px;
  }
  .user-saying {
    display: none;
  }
  img {
    height: 30px !important;
    width: 30px !important;
  }
}

.gray-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.draging {
  position: relative;
}



