.group-row-container {
  height: 44px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  outline: 0;
  img {
    float: left;
    height: 44px;
    border-radius: 22px;
    width: 44px;
  }
  .group-row-content {
    padding-left: 54px;
  }

}
