:host {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.label-div {
    display: flex;
    justify-content: center;
    width: 30%;
}

.content-div {
    display: flex;
    flex-direction: column;
    width: 70%;
}
