:host {
    flex: auto;
    display: flex;
    flex-direction: column;
}

nav {
    border: 1px #7f8393;
    border-bottom-style: solid;
    background: rgb(235, 242, 249);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        align-items: baseline;
        mat-form-field {
            width: 500px;
            margin-right: 10px;
        }
    }
}


.user-img {
    height: 65px;
    width: 65px;
    border-radius: 35px;
    margin-right: 8px;
    border: 2px solid transparent;
    -webkit-app-region: no-drag;
}
.user-list-container {
    background: rgb(235, 242, 249);
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: overlay;
    .user-item {
        height: 200px;
        display: flex;
        overflow: hidden;
        width: 200px;
        padding: 20px;
        box-sizing: border-box;
    }
}
.user-list-right {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.add-friend-btn {
    width: 65px;
    cursor: default;
    margin-top: 5px;
    background: #8fc0e7;
    border-radius: 5px;
    color: white;
    mat-icon {
        vertical-align: middle;
        font-size: 20px;
        line-height: 23px;
        margin-right: -4px;
        padding-left: 4px;
    }
    span {
        font-size: 14px
    }
}

//.lookup-button {
//    background: rgb(0, 155, 219);
//    color: white;
//    margin-left: 20px;
//}
