header {
  height: 65px;
  background: #009bdb;
  position: relative;
  div {
    position: absolute;
    bottom: 0;
    cursor: default;
    span {
      display: inline-block;
      height: 30px;
      width: 115px;
      text-align: center;
      line-height: 30px;
      color: white;
      letter-spacing: 0.04em;
      font-weight: bold;
      &:hover {
        background: linear-gradient(to bottom, #009bdb, #66c3e9);
      }
    }
    .selected {
      background: linear-gradient(to bottom, #009bdb, #d6f5fc) !important;
    }
  }
}
.content-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  background: #e6f5fc;
  overflow: auto;
}